Repository varunkamath/rune: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-clippy, prettier, eslint, typescript

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # General formatting and cleanup
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.node)$
      - id: end-of-file-fixer
        exclude: ^(.*\.node|target/|dist/)$
      - id: check-yaml
        exclude: ^(.github/workflows/)
      - id: check-added-large-files
        args: ["--maxkb=1000"]
        exclude: ^(.*\.node|.*\.onnx|.*\.bin|.*\.safetensors)$
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: ["--fix=lf"]

  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        args: ["--all", "--"]
        pass_filenames: false

      - id: cargo-check
        name: cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all-targets", "--all-features"]

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]

  # TypeScript/JavaScript formatting and linting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm exec prettier --write
        language: system
        types_or: [javascript, jsx, ts, tsx, json, yaml, markdown]
        exclude: ^(dist/|target/|.*\.node|pnpm-lock\.yaml)$
        require_serial: true

      - id: eslint
        name: eslint
        entry: pnpm exec eslint --fix
        language: system
        types_or: [javascript, jsx, ts, tsx]
        exclude: ^(dist/|.*\.node)$
        files: ^mcp-server/
        require_serial: true

      - id: typescript
        name: typescript
        entry: bash -c 'cd mcp-server && pnpm exec tsc --noEmit'
        language: system
        types: [ts, tsx]
        pass_filenames: false
        files: ^mcp-server/

  # Markdown formatting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: ["--fix"]
        exclude: ^(CLAUDE\.md|MCP_IMPLEMENTATION_RESEARCH\.md)$

  # YAML formatting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: ["-d", "{extends: relaxed, rules: {line-length: {max: 120}}}"]

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
        exclude: ^(.*\.lock|.*\.node|pnpm-lock\.yaml)$

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.13.1-beta
    hooks:
      - id: hadolint-docker
        files: Dockerfile.*

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck

# Configuration for specific tools
exclude: |
  (?x)^(
    target/|
    dist/|
    node_modules/|
    .*\.node|
    .*\.lock|
    pnpm-lock\.yaml|
    Cargo\.lock|
    qdrant_storage/|
    \.rune_cache/|
    \.cache/|
    models/|
    MCP_IMPLEMENTATION_RESEARCH\.md
  )$

default_stages: [pre-commit]
fail_fast: false
minimum_pre_commit_version: "3.0.0"

Core search implementation with all search modes
  .markdownlint.json
  .prettierignore
  .prettierrc.json
  .secrets.baseline
  clippy.toml
  eslint.config.js
  package.json
  rune-core/src/indexing/file_walker.rs
  rune-core/src/indexing/language_detector.rs
  rune-core/src/indexing/mod.rs
  rune-core/src/indexing/symbol_extractor.rs
  rune-core/src/indexing/tantivy_indexer.rs
  rune-core/src/lib.rs
  rune-core/src/search/hybrid.rs
  rune-core/src/search/literal.rs
  rune-core/src/search/mod.rs
  rune-core/src/search/regex.rs
  rune-core/src/search/symbol.rs
  rune-core/src/storage/mod.rs
Due: cargo-fmt, cargo-check, cargo-clippy, prettier

Core MCP implementation with server interface
  .gitignore
  mcp-server/package.json
  mcp-server/scripts/postinstall.js
  mcp-server/src/bridge.ts
  package.json
  rune-core/src/indexing/symbol_extractor.rs
Due: cargo-fmt, cargo-check, cargo-clippy, prettier, eslint

Linting
  mcp-server/scripts/postinstall.js
Due: prettier, eslint

Clippy, update to latest Qdrant API
  docker-compose.yml
  mcp-server/package.json
  rune-bridge/src/lib.rs
  rune-core/Cargo.toml
  rune-core/src/embedding/chunker.rs
  rune-core/src/embedding/generator.rs
  rune-core/src/embedding/mod.rs
  rune-core/src/embedding/qdrant.rs
  rune-core/src/lib.rs
  rune-core/src/search/hybrid.rs
  rune-core/src/search/mod.rs
  rune-core/src/search/semantic.rs
Due: cargo-fmt, cargo-check, cargo-clippy, prettier

Link up indexing pipeline
  package.json
  rune-core/src/indexing/mod.rs
Due: cargo-fmt, cargo-check, cargo-clippy, prettier

Add semantic indexing
  rune-core/Cargo.toml
  rune-core/src/embedding/ast_chunker.rs
  rune-core/src/embedding/chunker.rs
  rune-core/src/embedding/mod.rs
  rune-core/src/indexing/language_detector.rs
Due: cargo-fmt, cargo-check, cargo-clippy

Migrated from ORT v1 to ORT v2.0.0-rc.10
  rune-core/Cargo.toml
  rune-core/src/embedding/ast_chunker.rs
  rune-core/src/embedding/chunker.rs
  rune-core/src/embedding/generator.rs
  rune-core/src/embedding/mod.rs
  rune-core/src/embedding/model_manager.rs
  rune-core/src/indexing/mod.rs
Due: cargo-fmt, cargo-check, cargo-clippy

Fully functional semantic search with real embeddings, AST-aware code chunking for 5 languages
  docker-compose.yml
  rune-core/src/embedding/ast_chunker.rs
  rune-core/src/embedding/generator.rs
Due: cargo-fmt, cargo-check, cargo-clippy, prettier

Bugfix preventing search
  .gitignore
  mcp-server/package.json
  mcp-server/src/index.ts
  rune-bridge/Cargo.toml
  rune-bridge/src/lib.rs
  rune-core/src/bin/test_search.rs
  rune-core/src/embedding/generator.rs
Due: cargo-fmt, cargo-check, cargo-clippy, prettier, eslint

Fixed semantic search pipeline, linting
  eslint.config.js
  mcp-server/scripts/postinstall.js
  mcp-server/src/bridge.ts
  mcp-server/src/index.ts
  rune-bridge/src/lib.rs
  rune-core/Cargo.toml
  rune-core/src/bin/test_search.rs
  rune-core/src/embedding/chunker.rs
  rune-core/src/embedding/mod.rs
  rune-core/src/embedding/qdrant.rs
  rune-core/src/indexing/language_detector.rs
  test_semantic.rs
Due: cargo-fmt, cargo-check, cargo-clippy, prettier, eslint

Added testing and benchmarks
  mcp-server/__mocks__/nativeModule.js
  mcp-server/jest.config.js
  mcp-server/package.json
  mcp-server/src/__tests__/bridge.test.ts
  mcp-server/src/__tests__/protocol.test.ts
  package.json
  rune-core/Cargo.toml
  rune-core/benches/embedding_bench.rs
  rune-core/benches/hybrid_bench.rs
  rune-core/benches/indexing_bench.rs
  rune-core/benches/search_bench.rs
  rune-core/benches/simple_storage_bench.rs
  rune-core/benches/storage_bench.rs
  rune-core/benches/utils.rs
  rune-core/src/lib.rs
  rune-core/src/search/literal.rs
  rune-core/src/search/literal_test.rs
  rune-core/src/search/regex.rs
  rune-core/src/search/regex_test.rs
  rune-core/src/storage/mod.rs
  rune-core/src/test_utils.rs
  test-fixtures/edge-cases/empty.rs
  test-fixtures/edge-cases/unicode.py
  test-fixtures/languages/sample.py
  test-fixtures/languages/sample.rs
  test-fixtures/languages/sample.ts
  test_semantic.rs
Due: cargo-fmt, cargo-check, cargo-clippy, prettier, eslint

feat(ci): add semantic-release with automated changelog generation
  .commitlintrc.json
  .dockerignore
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
  .gitignore
  .releaserc.json
  CHANGELOG.md
  Cargo.lock
  Dockerfile
  README.md
  VERSION
  docker-compose.yml
  docker/configs/claude-code.json
  docker/configs/claude-desktop.json
  docker/configs/continue-mcp.json
  docker/configs/cursor-mcp.json
  docker/configs/vscode-settings.json
  docker/configs/windsurf-mcp.json
  docker/s6-services/qdrant/run
  docker/s6-services/qdrant/type
  docker/s6-services/rune/dependencies
  docker/s6-services/rune/run
  docker/s6-services/rune/type
  mcp-server/__mocks__/nativeModule.js
  mcp-server/bin/rune-mcp.js
  mcp-server/jest.config.js
  mcp-server/package.json
  mcp-server/scripts/postinstall.js
  mcp-server/src/__tests__/bridge.test.ts
  mcp-server/src/__tests__/protocol.test.ts
  mcp-server/src/index.ts
  package.json
  pnpm-lock.yaml
  rune-core/benches/storage_bench.rs
  rune-core/src/test_utils.rs
  test-fixtures/edge-cases/empty.rs
  test-fixtures/edge-cases/unicode.py
  test-fixtures/languages/sample.py
  test-fixtures/languages/sample.rs
  test-fixtures/languages/sample.ts
Due: cargo-fmt, cargo-check, cargo-clippy, prettier, eslint

fix(ci): Fix lockfile
  .gitignore
Due: none

fix(ci): Fix CI to use pnpm 10
  .github/workflows/release.yml
Due: prettier

fix(ci): Fix Docker build and ensure functionality
  .commitlintrc.json
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
  .npmrc
  .pre-commit-config.yaml
  .releaserc.json
  CHANGELOG.md
  Dockerfile
  VERSION
  docker/configs/claude-code.json
  docker/configs/claude-desktop.json
  docker/configs/continue-mcp.json
  docker/configs/cursor-mcp.json
  docker/configs/vscode-settings.json
  docker/configs/windsurf-mcp.json
  docker/s6-services/qdrant/run
  docker/s6-services/qdrant/type
  docker/s6-services/rune/dependencies
  docker/s6-services/rune/run
  docker/s6-services/rune/type
  mcp-server/bin/rune-mcp.js
  mcp-server/scripts/postinstall.js
  pnpm-lock.yaml
Due: prettier, eslint

fix: Working semantic search implementation
  Dockerfile
  README.md
  docker-compose-qdrant.yml
  docker/s6-services/qdrant/run
  docker/s6-services/rune/run
  mcp-server/bin/rune-mcp.js
  rune-core/Cargo.toml
  rune-core/src/embedding/mod.rs
  rune-core/src/embedding/qdrant.rs
  rune-core/src/indexing/mod.rs
  rune-core/src/lib.rs
  rune-core/src/search/semantic.rs
  test_semantic.rs
Due: cargo-fmt, cargo-check, cargo-clippy, prettier, eslint

fix: Working standalone, tests
  Cargo.lock
  rune-core/Cargo.toml
  rune-core/src/embedding/mod.rs
  rune-core/src/embedding/qdrant.rs
  rune-core/src/search/semantic.rs
  rune-core/tests/semantic_search_integration.rs
  test_docker.sh
  test_standalone.sh
Due: cargo-fmt, cargo-check, cargo-clippy

Linting, pre-commit
  docker-compose-qdrant.yml
  rune-core/Cargo.toml
  rune-core/src/embedding/mod.rs
  rune-core/src/embedding/qdrant.rs
  rune-core/src/search/semantic.rs
  rune-core/tests/semantic_search_integration.rs
  test_docker.sh
  test_standalone.sh
Due: cargo-fmt, cargo-check, cargo-clippy, prettier

fix: Add service host to container
  .pre-commit-config.yaml
  Dockerfile
  docker/s6-services/qdrant/run
Due: prettier

Add test workspace
  .gitignore
  test_workspace/authentication.js
  test_workspace/caching_system.rs
  test_workspace/data_structures.rs
  test_workspace/database_operations.py
  test_workspace/file_operations.go
  test_workspace/machine_learning.py
  test_workspace/math_operations.py
  test_workspace/network_client.go
  test_workspace/semantic_result.json
  test_workspace/string_utils.js
  test_workspace/test_semantic.sh
Due: cargo-fmt, cargo-check, cargo-clippy, prettier

Linting
  .pre-commit-config.yaml
  test_workspace/authentication.js
  test_workspace/caching_system.rs
  test_workspace/data_structures.rs
  test_workspace/database_operations.py
  test_workspace/file_operations.go
  test_workspace/machine_learning.py
  test_workspace/math_operations.py
  test_workspace/network_client.go
  test_workspace/semantic_result.json
  test_workspace/string_utils.js
Due: cargo-fmt, cargo-check, cargo-clippy, prettier

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  VERSION
  package.json
  rune-bridge/Cargo.toml
  rune-core/Cargo.toml
Due: prettier

Notes added by 'git notes add'
  feffa0dcec4802d09d793991b9b5113cd6e258f9
Due: none

Single threaded tests to bypass transient failures
  package.json
Due: prettier

fix(ci): Use cargo edit instead of sed
  .github/workflows/release.yml
  .releaserc.json
  Cargo.lock
  Cargo.toml
  rune-bridge/Cargo.toml
  rune-core/Cargo.toml
Due: prettier

Notes added by 'git notes add'
  605400ae3632ff165624b8171d3f960d80208073
Due: none

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  VERSION
  package.json
Due: prettier

fix(ci): Include root Cargo.toml
  .releaserc.json
  Cargo.lock
  Cargo.toml
Due: prettier

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  VERSION
  package.json
Due: prettier

Notes added by 'git notes add'
  e802bd50ab7e67fed508cce8c973fa243708ee13
Due: none

fix: Fix benchmarks tokio issues
  .pre-commit-config.yaml
  Dockerfile
  rune-core/Cargo.toml
  rune-core/benches/embedding_bench.rs
  rune-core/benches/hybrid_bench.rs
  rune-core/benches/search_bench.rs
  rune-core/benches/simple_storage_bench.rs
  rune-core/src/cache/mod.rs
  rune-core/src/lib.rs
  rune-core/src/search/mod.rs
Due: cargo-fmt, cargo-check, cargo-clippy, prettier

chore(release): 1.0.3 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  VERSION
  package.json
Due: prettier

Notes added by 'git notes add'
  6d528b3cb8d50e7e5bf3d4df0af61bf87c984ba0
Due: none

fix: Add quantization
  rune-core/src/embedding/mod.rs
  rune-core/src/embedding/qdrant.rs
  rune-core/src/embedding/quantization.rs
  rune-core/src/search/mod.rs
  rune-core/src/search/query_parser.rs
Due: cargo-fmt, cargo-check, cargo-clippy

Notes added by 'git notes add'
  5c367849e53dc2b729d715f13e5b527ad106bec0
Due: none

chore(release): 1.0.4 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  VERSION
  package.json
Due: prettier

feat: Fuzzy matching, caching
  .pre-commit-config.yaml
  Cargo.lock
  Dockerfile
  rune-core/Cargo.toml
  rune-core/src/search/fuzzy_match.rs
  rune-core/src/search/literal.rs
  rune-core/src/search/mod.rs
  test_docker.sh
  test_standalone.sh
Due: cargo-fmt, cargo-check, cargo-clippy, prettier

docs: Fix config JSON
  .gitignore
  README.md
  docker/configs/claude-code.json
  docker/configs/claude-desktop.json
  docker/configs/continue-mcp.json
  docker/configs/cursor-mcp.json
  docker/configs/vscode-settings.json
  docker/configs/windsurf-mcp.json
Due: prettier

test: Fix literal test with fuzzy enabled
  Dockerfile
  docker/configs/claude-code.json
  docker/start-mcp.sh
  rune-core/src/search/fuzzy_match.rs
  rune-core/src/search/literal_test.rs
Due: cargo-fmt, cargo-check, cargo-clippy, prettier

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  VERSION
  package.json
Due: prettier
