Repository varunkamath/rune: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-clippy, prettier, eslint, typescript

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  args:
  - --all
  - --
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

prettier:
  name: prettier
  entry: pnpm exec prettier --write
  language: system
  require_serial: true

eslint:
  name: eslint
  entry: pnpm exec eslint --fix
  language: system
  require_serial: true

typescript:
  name: typescript
  entry: bash -c 'cd mcp-server && pnpm exec tsc --noEmit'
  language: system
  pass_filenames: false

Notes added by 'git notes add'
  8f12e672acc666b8941b3f35c2e57992aa943a9c
Due: none

docs: Improve tool descriptions
  mcp-server/src/index.ts
Due: prettier, eslint

fix: Fix build errors, incremental autoindex
  Cargo.lock
  docker/start-mcp.sh
  mcp-server/src/index.ts
  rune-bridge/src/lib.rs
  rune-core/Cargo.toml
  rune-core/benches/utils.rs
  rune-core/src/bin/test_search.rs
  rune-core/src/embedding/mod.rs
  rune-core/src/embedding/qdrant.rs
  rune-core/src/indexing/file_walker.rs
  rune-core/src/indexing/mod.rs
  rune-core/src/lib.rs
  rune-core/src/search/semantic.rs
  rune-core/src/storage/mod.rs
  rune-core/src/test_utils.rs
  rune-core/tests/semantic_search_integration.rs
  test_auto_reindex.sh
Due: cargo-fmt, cargo-check, cargo-clippy, prettier, eslint

fix(ci): Fix docker build process
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
  .releaserc.json
Due: prettier

feat: Add incremental hash checking, dead code allows
  .github/workflows/release.yml
  mcp-server/src/index.ts
  rune-core/benches/hybrid_bench.rs
  rune-core/benches/indexing_bench.rs
  rune-core/benches/search_bench.rs
  rune-core/src/embedding/ast_chunker.rs
  rune-core/src/embedding/generator.rs
  rune-core/src/embedding/qdrant.rs
  rune-core/src/indexing/mod.rs
  rune-core/src/indexing/tantivy_indexer.rs
  rune-core/src/lib.rs
  rune-core/src/search/fuzzy_match.rs
  rune-core/src/search/literal.rs
  rune-core/src/search/mod.rs
  rune-core/src/search/semantic.rs
  rune-core/src/search/symbol.rs
  rune-core/src/test_utils.rs
  test_auto_reindex.sh
Due: cargo-fmt, cargo-check, cargo-clippy, prettier, eslint

fix: Remove error-prone HTTP fallback
  rune-core/src/embedding/qdrant.rs
Due: cargo-fmt, cargo-check, cargo-clippy

docs: Clarify literal tool usage
  mcp-server/src/index.ts
Due: prettier, eslint

feat: Workspace dynamic caching
  Dockerfile
  README.md
  docker/configs/claude-code.json
  docker/configs/claude-desktop.json
  docker/configs/continue-mcp.json
  docker/configs/cursor-mcp.json
  mcp-server/src/index.ts
  rune-core/src/embedding/qdrant.rs
  rune-core/src/storage/mod.rs
Due: cargo-fmt, cargo-check, cargo-clippy, prettier, eslint

feat: Multi-word search
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  README.md
  mcp-server/src/index.ts
  rune-core/Cargo.toml
  rune-core/src/embedding/model_manager.rs
  rune-core/src/search/literal.rs
  test_multi_word_search.sh
  test_workspace/test_ports.yml
Due: cargo-fmt, cargo-check, cargo-clippy, prettier, eslint

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  VERSION
  package.json
Due: prettier

Notes added by 'git notes add'
  2a1c99a2e81d625a17ce8315af24e07609457c26
Due: none

fix: Fix several bugs
  mcp-server/src/index.ts
  rune-bridge/src/lib.rs
  rune-core/src/indexing/symbol_extractor.rs
  rune-core/src/indexing/tantivy_indexer.rs
  rune-core/src/search/literal.rs
  rune-core/src/search/regex.rs
  test_multi_word_search.sh
  test_workspace/test_ports.yml
Due: cargo-fmt, cargo-check, cargo-clippy, prettier, eslint

fix: Update dependencies and fix failing tests
  Cargo.lock
  Cargo.toml
  rune-core/Cargo.toml
  rune-core/benches/storage_bench.rs
  rune-core/src/embedding/quantization.rs
  rune-core/src/search/literal_test.rs
Due: cargo-fmt, cargo-check, cargo-clippy

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  VERSION
  package.json
Due: prettier

Notes added by 'git notes add'
  6f8a0937c6540b6008b3e77f6b49af81082d2eba
Due: none

fix: Migrate to oxlint
  .oxlintrc.json
  .pre-commit-config.yaml
  eslint.config.js
  mcp-server/package.json
  package.json
  pnpm-lock.yaml
Due: prettier

Notes added by 'git notes add'
  db58bd07cdd960606dcd8c507e8cf92d999ebcb3
Due: none

chore(release): 1.2.2 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  VERSION
  package.json
Due: prettier

fix: Cleanup dead code
  Cargo.lock
  Cargo.toml
  README.md
  mcp-server/src/bridge.ts
  rune-bridge/build.rs
  rune-bridge/src/lib.rs
  rune-core/Cargo.toml
  rune-core/src/embedding/ast_chunker.rs
  rune-core/src/indexing/language_detector.rs
  rune-core/src/indexing/mod.rs
  rune-core/src/search/mod.rs
  rune-core/src/search/query_parser.rs
  rune-core/src/test_utils.rs
Due: cargo-fmt, cargo-check, cargo-clippy, prettier, eslint

fix: Remove overlap features
  Cargo.lock
  README.md
  mcp-server/src/index.ts
  rune-bridge/src/lib.rs
  rune-core/Cargo.toml
  rune-core/benches/hybrid_bench.rs
  rune-core/benches/search_bench.rs
  rune-core/src/bin/test_search.rs
  rune-core/src/cache/mod.rs
  rune-core/src/search/fuzzy_match.rs
  rune-core/src/search/hybrid.rs
  rune-core/src/search/literal.rs
  rune-core/src/search/literal_test.rs
  rune-core/src/search/mod.rs
  rune-core/src/search/regex.rs
  rune-core/src/search/regex_test.rs
  rune-core/src/test_utils.rs
  rune-core/tests/semantic_search_integration.rs
Due: cargo-fmt, cargo-check, cargo-clippy, prettier, eslint

fix: Improve code robustness with proper error handling, remove dead code, and fix inaccurate language support claims
  .pre-commit-config.yaml
  docker/configs/vscode-settings.json
  docker/configs/windsurf-mcp.json
  mcp-server/src/__tests__/protocol.test.ts
  rune-core/src/cache/mod.rs
  rune-core/src/embedding/ast_chunker.rs
  rune-core/src/embedding/generator.rs
  rune-core/src/indexing/language_detector.rs
  rune-core/src/indexing/mod.rs
  rune-core/src/lib.rs
  rune-core/src/search/semantic.rs
  rune-core/src/storage/mod.rs
  rune-core/src/test_utils.rs
Due: cargo-fmt, cargo-check, cargo-clippy, prettier, eslint

chore(release): 1.2.3 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  VERSION
  package.json
Due: prettier

Notes added by 'git notes add'
  4d92cd2d3a946692c63897b99d10862a58277b75
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  target/|
  dist/|
  node_modules/|
  .*\.node|
  .*\.lock|
  pnpm-lock\.yaml|
  Cargo\.lock|
  qdrant_storage/|
  \.rune_cache/|
  \.cache/|
  models/|
  MCP_IMPLEMENTATION_RESEARCH\.md
)$

  cargo-check: any of: \.rs$, but not: (?x)^(
  target/|
  dist/|
  node_modules/|
  .*\.node|
  .*\.lock|
  pnpm-lock\.yaml|
  Cargo\.lock|
  qdrant_storage/|
  \.rune_cache/|
  \.cache/|
  models/|
  MCP_IMPLEMENTATION_RESEARCH\.md
)$

  cargo-clippy: any of: \.rs$, but not: (?x)^(
  target/|
  dist/|
  node_modules/|
  .*\.node|
  .*\.lock|
  pnpm-lock\.yaml|
  Cargo\.lock|
  qdrant_storage/|
  \.rune_cache/|
  \.cache/|
  models/|
  MCP_IMPLEMENTATION_RESEARCH\.md
)$

  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$ and not (^(dist/|target/|.*\.node|pnpm-lock\.yaml)$) and not ((?x)^(
  target/|
  dist/|
  node_modules/|
  .*\.node|
  .*\.lock|
  pnpm-lock\.yaml|
  Cargo\.lock|
  qdrant_storage/|
  \.rune_cache/|
  \.cache/|
  models/|
  MCP_IMPLEMENTATION_RESEARCH\.md
)$
)
  eslint: any of: ^mcp-server/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(dist/|.*\.node)$) and not ((?x)^(
  target/|
  dist/|
  node_modules/|
  .*\.node|
  .*\.lock|
  pnpm-lock\.yaml|
  Cargo\.lock|
  qdrant_storage/|
  \.rune_cache/|
  \.cache/|
  models/|
  MCP_IMPLEMENTATION_RESEARCH\.md
)$
)
  typescript: any of: ^mcp-server/ and \.(ts|mts|cts)$ and \.tsx$ and not ((?x)^(
  target/|
  dist/|
  node_modules/|
  .*\.node|
  .*\.lock|
  pnpm-lock\.yaml|
  Cargo\.lock|
  qdrant_storage/|
  \.rune_cache/|
  \.cache/|
  models/|
  MCP_IMPLEMENTATION_RESEARCH\.md
)$
)
